
<body>
    <div class="wrap">
        <h1>Login Here</h1>
        <input type="text" placeholder="Name" required>
        <input type="text" placeholder="Location" required>
        <input type="text" placeholder="Phone number" required>
        <input list="service" placeholder="Skill">
        <datalist id="service">
            <option value="Electrical">
            <option value="Plumbing">
            <option value="Photography">
            <option value="Carpentry">
            <option value="Painting">
            <option value="Landscape designers">
        </datalist>
      
        <input type="submit" value="Submit" class="button">
        
    </div>
</body>
