<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem; text-align: center">
          <img
            class="card-img-top"
            src="assets/images/Electrical.jfif"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Electrical</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary button">Explore</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem; text-align: center">
          <img
            class="card-img-top"
            src="assets/images/plumbing.jfif"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Plumbing</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary button">Explore</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem; text-align: center">
          <img
            class="card-img-top"
            src="assets/images/Carpentry.jfif"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Carpentry</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary button">Explore</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem; text-align: center">
          <img
            class="card-img-top"
            src="assets/images/Painting.jfif"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Painting</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary button">Explore</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem; text-align: center">
          <img
            class="card-img-top"
            src="assets/images/Photography.jfif"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Photography</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary button">Explore</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem; text-align: center">
          <img
            class="card-img-top"
            src="assets/images/Landscape.jfif"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Landscape designers</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary button">Explore</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  